############################################################
#
# See http://www.appveyor.com/docs/appveyor-yml for many more options
#
# Credit for a lot of this file goes to RamblingCookieMonster:
# https://github.com/RamblingCookieMonster/PSSQLite/blob/master/appveyor.yml
#
############################################################

# This tells AppVeyor that we need WMF 5 and PowerShell 5.0
os: WMF 5

environment:
    # To encrypt a value in AppVeyor, go to the Account menu and choose "Encrypt data"
    PSGalleryAPIKey:
        secure: s9Uw6gnBI2xdDYtpJE5m8C3eDvrXBDGO/abptsu9NCtCrdxoU/N+3YfjffOTysw+

version: 2.0.{build}

# Don't rebuild when I tag a release on GitHub
skip_tags: true

# Ignore testing a commit if only the readme changed
# Or if I include "skip-tests" in the commit message
skip_commits:
    message: /skip\-tests/
    files:
        - .github/
        - .vscode/
        - assets/
        - docs/
        - Tools/
        - README.md
        - .gitattributes
        - .gitignore

# PRs, by definition, don't change anything and therefore should not increment the version
# To be fair, this is not important, and is really just AppVeyor enabling my pedantry
pull_requests:
  do_not_increment_build_number: true

install:
    - cmd: git config --global core.autocrlf true
    - cmd: npm install -g markdown-spellcheck
    - ps: |
        Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
        Install-Module InvokeBuild -RequiredVersion 3.2.1 -Scope CurrentUser -Force
        Install-Module BuildHelpers -Scope CurrentUser -Force
        Install-Module platyPS -Scope CurrentUser -Force
        Install-Module Pester -Scope CurrentUser -Force
        Install-Module PSScriptAnalyzer -Scope CurrentUser -Force
        $env:releasePath = "$($pwd.Path)\Release"

before_build:
    - ps: Invoke-Build -Task ShowDebug

build_script:
    - ps: Invoke-Build -Task Build

# after_build:
    # - cmd: mdspell %releasePath%\**/*.md --ignore-numbers --ignore-acronyms --report

test_script:
    - ps: Invoke-Build -Task Test

before_deploy:
    - ps: Invoke-Build -Task Deploy

deploy:
    provider: GitHub
    release: v$(appveyor_build_version)
    description: ''
    auth_token:
        secure: Sgb8c9OsroW+zoZpaWj/jkbkBoP3O52bQA4BEYtI+k481/JZNVNX0lh+ol9ZlQ7C
    draft: false
    prerelease: false
    on:
        branch: master                 # release from master branch only
        appveyor_repo_tag: false        # deploy on tag push only

# on_failure:
    # - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
